.wrapper {
    width: 550px;
    margin: 0 auto;
}

.box {
    width:128px;
    height:115px;
    border: 2px solid black;
    display: inline-block;
}

button {
    background-color: #a1e5d8;
    border: 1px solid black;
    color: black;
    height: 30px;
    font-size: 16px;
    width: 65px;
    font-family: fantasy;
    display: block;
}

p {
    font-size: 10px;
    color: gray;
    text-align: center;
}

a {
    color: #a1e5d8;
}